.formElement{
    margin: 3vw 2vh
}
.test{
    width: 10vw;
}

.welcomeMessage{
    color: #52af77
}

.welcomeHeaderContainer{
    max-height: 30vh;
}
.explanationModalContainer{
    /*width: 50vw !important;*/
    background-color: white;
}
.explanationModal{
    height: 50vh;
    width: 50vw !important;
    margin-top: 20vh;
    margin-left: 25vw;
    background-color: white;
}
.closeButton{
    margin-left: 45% !important;
    margin-top: -1% !important;
    margin-bottom: 5% !important;
}


@media only screen and (max-width: 955px) {
    .flexController {
        flex-direction: column-reverse;
        margin-top: 50vh !important;
    }
    .welcomeSubHeading {
        text-align: start;
        padding-left: 10% !important;
    }
    .welcomeFinal {
        padding-left: 20%;
    }
    .closeButton{
        margin-left: 42% !important;
        margin-top: -1% !important;
        margin-bottom: 5% !important;
    }
}

@media only screen and (max-width: 850px) {
    .flexController {
        flex-direction: column-reverse;
        margin-top: 50vh !important;
    }
    .welcomeImg1{
        max-height: 30vh !important;
        margin-top: 3vh !important;
    }
    .welcomeImg2{
        max-height: 25vh !important;
        margin-top: 2vh
    }
    .welcomeLeftPadding {
        padding-left: 8% !important;
    }
    .welcomeFinal {
        padding-left: 15%;
    }
    .explanationModal{
        height: 90% !important;
        width: 75% !important;
        margin-top: 2vh;
        margin-left: 10vw;
        background-color: white;
    }
    .resultsModalHeader {
        font-size: 1rem !important;
        margin-top: 5vh !important;
    }
    .resultsModalText {
        font-size: 0.75rem !important;
    }
    .fullWidth {
        width: 100% !important;
    }
    .closeButton{
        margin-left: 41% !important;
        margin-bottom: 5% !important;
    }
}

@media only screen and (max-width: 630px) {
    .welcomeImg1{
        max-height: 20vh !important;
        margin-top: 3vh !important;
    }
    .welcomeImg2{
        max-height: 20vh !important;
        margin-top: 2vh
    }
    .welcomeFinal {
        padding-left: 10%;
    }
    .closeButton{
        margin-left: 39% !important;
        margin-bottom: 5% !important;
    }
}

@media only screen and (max-width: 450px) {
    .welcomeMessage {
        font-size: 4rem !important;
    }
    .welcomeImg1{
        max-height: 20vh !important;
        margin-top: 3vh !important;
        margin-bottom: 1vh !important;
    }
    .flexController {
        flex-direction: column-reverse;
        margin-top: 55vh !important;
    }
    .explanationModal{
        height: 90% !important;
        width: 90% !important;
        margin-top: 2vh;
        margin-left: 5vw;
        background-color: white;
    }
    .resultsModalHeader {
        font-size: 1rem !important;
        margin-top: 2vh !important;
    }
    .resultsModalText {
        font-size: 0.75rem !important;
    }
    .fullWidth {
        width: 100% !important;
    }
    .closeButton{
        margin-left: 35% !important;
        margin-bottom: 5% !important;
    }
}