.formElement{
    margin: 3vw 2vh
}
.test{
    width: 10vw;
}

.welcomeMessage{
    color: #52af77
}

.welcomeHeaderContainer{
    max-height: 30vh;
}
.explanationModalContainer{
    /*width: 50vw !important;*/
    background-color: white;
}
.explanationModal{
    height: 50vh;
    width: 50vw !important;
    margin-top: 20vh;
    margin-left: 25vw;
    background-color: white;
}


@media only screen and (max-width: 955px) {
    .flexController {
        flex-direction: column-reverse;
        margin-top: 50vh !important;
    }
    .welcomeSubHeading {
        text-align: start;
        padding-left: 10% !important;
    }
    .welcomeFinal {
        padding-left: 20%;
    }

}

@media only screen and (max-width: 850px) {
    .flexController {
        flex-direction: column-reverse;
        margin-top: 50vh !important;
    }
    .welcomeImg1{
        max-height: 30vh !important;
        margin-top: 3vh !important;
    }
    .welcomeImg2{
        max-height: 25vh !important;
        margin-top: 2vh
    }
    .welcomeLeftPadding {
        padding-left: 8% !important;
    }
    .welcomeFinal {
        padding-left: 15%;
    }
}

@media only screen and (max-width: 630px) {
    .welcomeImg1{
        max-height: 20vh !important;
        margin-top: 3vh !important;
    }
    .welcomeImg2{
        max-height: 20vh !important;
        margin-top: 2vh
    }
    .welcomeFinal {
        padding-left: 10%;
    }
}

@media only screen and (max-width: 380px) {
    .welcomeMessage {
        font-size: 4rem !important;
    }
    .welcomeImg1{
        max-height: 20vh !important;
        margin-top: 3vh !important;
        margin-bottom: 1vh !important;
    }
    .flexController {
        flex-direction: column-reverse;
        margin-top: 55vh !important;
    }
}